body {
    margin-top: 1cm;
    margin-left: 1cm;
}

.rect_1 {
    background-color: rgb(69, 100, 187);
    height: 5cm;
}

.rect_2 {
    background-color: rgb(91, 69, 187);
    height: 5cm;
}

.rect_3 {
    background-color: rgb(69, 173, 187);
    height: 5cm;
}